.changing-text {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #FFD83B;
}

.changing-text span {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    animation: fade 4s infinite;
}

.changing-text .text1 {
    animation-delay: 0s;
}

.changing-text .text2 {
    animation-delay: 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.nav-item a:hover {
    color: red;
}

.sidebar {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
}

.groups {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
}

.group-item {
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-header {
    background: #e49cdc;
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 18px 24px;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 12px;
}

.chat-bubble {
    border-radius: 5px 5px 20px 0;
    border: 1px solid black;
    padding: 12px 16px;
}

.chat-bubble-right {
    background: #e49cdc;
    color:black;
    margin-left: auto;
}

.chat-timestamp {
    font-size: 0.85rem;
    color: #bbb;
    margin: 1px 0 12px 52px;
}

.chat-timestamp-right {
    margin: 1px 52px 12px 0;
    text-align: right;
}

.message-input-section {
    border-radius: 0 0 12px 12px;
    padding: 16px 24px;
    border: 1px solid black;
}

.form-control {
    color: #444;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.send-btn {
    background:#f6c1e9;
    color:black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
.scroll-cards .card {
    width: 140px;
    margin-right: 7px;
  }
  .card img {
    height: 90px;
    width: 120px;
    border-radius: 6px;
  }
  .changing-text {
    height: 35px;
    font-size: 14px;
  }
}